.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}