.header{
    background-color: #FF7B73;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid #3B3C3D;
}

.pokeball-icon{
    width: 50px;
    height: 50px;
}

.bar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main{
    margin-top: 100px;
}

@media (max-width: 500px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}