.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image{
    border: 2px solid gray;
    box-shadow: 2px 2px 2px gray;
    background-color: rgb(212, 199, 182);
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

.img-poke{
    width: 300px;
    height: 300px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 300px;
    height: 300px;
}

.type{
    margin: 2px;
    background-color: gray;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    color: white;
}

.label{
    background-color: #D4C7B6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-label{
    padding-top: 5px;
    padding-bottom: 5px;
}