.body{
    margin-top: 100px;
}

.header{
    background-color: #FF7B73;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.img{
    width: 50px;
    height: 50px;
}

@media (max-width: 500px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}