

.header{
    background-color: #FF7B73;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    le
}

.img{
    width: 100px;
    height: 100px;
}

@media (max-width: 500px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}