.body{
    background-color: #FF7B76;
}

.header{
    background-color: #FF7B73;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.img{
    width: 100px;
    height: 100px;
}

@media (max-width: 500px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}