.home{
    height:885px;
    background-image: url(../../static/pokemon-5151118.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.box-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.get-started{
    background-color: rgb(212, 199, 182);
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 50px;
}

.get-started:hover{
    background-color: rgb(204, 168, 123);
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}

.best{
    font-size: 3rem;
    border-bottom: 1px solid #FF7B73;
    color: #FF7B73;
    font-weight: bold;
    border-radius: 10px;
}

