.home{
    height:885px;
    background-image: url(../../static/pokemon-5151118.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.get-started{
    background-color: rgb(212, 199, 182);
    width: 100px;
}